.faces {
  height: 25rem;
  background-color: rgb(219, 240, 236);
  width: 93vw;
  max-width: 1170px;
  margin: 0 auto;
  border-radius: 0.7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Movie {
  background-color: blueviolet;
  height: 10rem;
  width: 10rem;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-weight: 600; 
}
