.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  background: #2a65ca;
  min-height: 2.5rem;
}

.footer-text {
  font-size: 14px;
  color: #fff;
}

.footer-text span {
  font-weight: bold;
}
