.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a65ca;
  color: #fff;
  padding: 1rem;
  height: 6rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 2.7rem;
}
